<!DOCTYPE html>
<html lang="en">
<head>
	<title>FlagPoll</title>
	<meta charset="utf-8" />
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type = "text/css"/>
	<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro|Ubuntu|Roboto' rel='stylesheet' type='text/css'>
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">
	<script src="{% static 'js/jquery-1.12.2.js' %}"></script>
	<script src="{% static 'js/bootstrap.js' %}"></script>
	<style type="text/css">
		html,
		body {
		  height:100%
		}
	</style>
</head>

<body class="body" style="background-color:#f6f6f6">
	<div class="container-fluid" style="min-height:95%; ">
		<div class="row">
			  <div class="col-sm-5">
			  		<br>
			  </div>
			  <div class="col-sm-4">
				  <h3>FlagPoll</h3>
				  <br>
			  </div>
			  <div class="col-sm-3">
			  		<br>
			  </div>
			  <!--<div class="col-sm-1">
			  	<br><br>
			  	{% if user.is_authenticated %}
			  		<a href="/polls/logout/" class="btn btn-default btn-sm">
			  			<span class="glyphicon glyphicon-log-out"></span>&nbsp&nbspLogout
			  		</a>
			  	{% else %}
			  		<a href="/polls/login/" class="btn btn-default btn-sm">
			  			<span class="glyphicon glyphicon-log-in"></span>&nbsp&nbspLogin
			  		</a>
			  	{% endif %}
			  </div>-->
		</div>
		<div class="row">
		<div class="col-sm-3"></div>
		  <ol class="col-sm-5 breadcrumb" style="position: relative; left: 60px; display: inline-block">
		   <!-- Great, til you resize. -->
			<!--<div class="well bs-sidebar affix" id="sidebar" style="background-color:#fff">-->
			  	<li><a href="/flags/"style="font-size:15px; display:inline; text-align: left" class="btn" id="flags"><span class="glyphicon glyphicon-flag"></span>&nbsp&nbspFlags</a></li>
			  	<li><a href="/polls/view/" style="font-size:15px; display:inline" class="btn" id="polls"><span class="glyphicon glyphicon-comment"></span>&nbsp&nbspPolls</a></li>
			  	<li><a href="/polls/create_poll/" style="font-size:15px; display:inline" class="btn" id="mypoll"><span class="glyphicon glyphicon-pencil"></span>&nbsp&nbspMyPoll</a></li>
				{% if user.is_authenticated %}
					<li><a href="{% url 'pll:Profile' user.id%}" style="font-size:15px; display:inline" class="btn" id="profile"><span class="glyphicon glyphicon-user"></span>&nbsp&nbspProfile</a></li>
				{% endif %}
				{% if user.is_authenticated %}
			  		<li><a href="/polls/logout/" style="font-size:15px; display:inline" class="btn"><span class="glyphicon glyphicon-log-out"></span>&nbspLogout</a></li>
			  	{% else %}
			  		<li><a href="/polls/login/" style="font-size:15px; display:inline; text-align: right" class="btn" id="login"><span class="glyphicon glyphicon-log-in"></span>&nbsp&nbspLogin</a></li>
			  		<li><a href="/polls/register/" style="font-size:15px;' display:inline; text-align: right" class="btn" id="register"><span class="glyphicon glyphicon-list-alt" style="position: relative; top: 2px"></span>&nbsp&nbspRegister</a></li>
			  	{% endif %}
			</ol> <!--well bs-sidebar affix--><!--col-sm-2-->
		</div>
		<div class="row">
		  <div class="col-sm-1"></div>
		  <div class="col-sm-2" style="position: relative; bottom: 16px">
			  <ul class="nav nav-pills nav-stacked" style="font-size:14px">
			  	<button class="list-group-item"><li class="tag_list" id="all">All</li></button> <!-- Important: these are buttons! -->
			  	<button class="list-group-item"><li class="tag_list" id="admin">Administration</li></button>
				<button class="list-group-item"><li class="tag_list" id="buildings">Buildings</li></button>
				<button class="list-group-item"><li class="tag_list" id="community">Community</li></button>
				<button class="list-group-item"><li class="tag_list" id="education">Education</li></button>
				<button class="list-group-item"><li class="tag_list" id="events">Events</li></button>
				<button class="list-group-item"><li class="tag_list" id="health">Health</li></button>
				<button class="list-group-item"><li class="tag_list" id="parks">Recreation</li></button>
				<button class="list-group-item"><li class="tag_list" id="safety">Safety</li></button>
				<button class="list-group-item"><li class="tag_list" id="sanitation">Sanitation</li></button>
				<button class="list-group-item"><li class="tag_list" id="sustainability">Sustainability</li></button>
				<button class="list-group-item"><li class="tag_list" id="transportation">Transportation</li></button>
				<button class="list-group-item"><li class="tag_list" id="other">Other</li></button>
			  </ul> 
		  </div>
		  <div class="col-sm-8">
		  	<div class='container-fluid'>
				   {% block content %}
				   {% endblock %}
			</div>	
		  </div>
		  <div class="col-sm-1">
		   <!-- Great, til you resize. -->
			<!--<div class="well bs-sidebar affix" id="sidebar" style="background-color:#fff">-->
			<!--well bs-sidebar affix-->
		  </div>
		</div>
	</div>
</body>
</html>