{% extends "header2.html" %}

{% block content %}

    {% load myfilters %}
    <h4 class="shadow_header" style="position: relative; margin-bottom: 30px; left: 120px"><span class="{{glyph}}" style="position: relative; font-size: 16px;"></span>&nbsp&nbsp{{poll.question}}</h4>
    <div style="position: relative; left: 130px">
        <form action="" method="post">
            {% csrf_token %}
                <div>
                    {% if form.opinion.errors %}<p class="error">{{form.opinion.errors}}</p>{% endif %}
                    <p>{{form.opinion|placeholder:'Voice your opinion!'|addclass:'voice_opinion'}}</p>
                </div>
            <p><input type="submit" class="nice_submit" /></p>
        </form>
    </div>
    <script type="text/javascript">
    $(function() {
        document.getElementById("polls").style.color = "darkseagreen";
    })
    </script>
{% endblock %}