{% extends "header2.html" %}

{% load myfilters %}

{% block content %}
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-6">
            <div class="shadow_header" style="font-size: 15px">{{page_message}}</div><br>
            <div class="ballot_container">
                    <form action="" method="post">
                    	{% csrf_token %}
                    		{% if form.ballot.errors %}<p class="error">{{form.ballot.errors}}</p>{% endif %}
                    		<span class="{{glyph}}" style="position: relative; font-size: 15px;"></span>&nbsp&nbsp
                            <label for="ballot" {% if form.ballot.errors %} class="error" {% endif %} class="shadow_header" style="font-size: 15px; margin-bottom: 20px;">{{poll.question}}</label>
                    		<p>{{form.ballot|addclass:'cast_ballot'}}<input type="submit" class="nice_submit" style="position: relative; left: 20px" /></p>
                    </form>
            </div>
        </div>
    </div>
    <script type="text/javascript">
    $(function() {
        document.getElementById("polls").style.color = "darkseagreen";
    })
    </script>
{% endblock %}