{% extends "header2.html" %}

{% block content %}
	
	<h5>{{poll.question}}</h5><br>
    {% load myfilters %}
    <form action="" method="post">
    	{% csrf_token %}
    		{% if form.ballot.errors %}<p class="error">{{form.ballot.errors}}</p>{% endif %}
    		<p><label for="ballot" {% if form.ballot.errors %} class="error" {% endif %}> {{page_message}} </label></p>
    		<p>{{form.ballot|addclass:'cast_ballot'}}</p>
    	<p><input type="submit" class="nice_submit" /></p>
    </form>
    <script type="text/javascript">
    $(function() {
        document.getElementById("polls").style.color = "darkseagreen";
    })
    </script>
{% endblock %}