<!DOCTYPE html>
<html lang="en">
<head>
	<title>FlagPoll</title>
	<meta charset="utf-8" />
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type = "text/css"/>
	<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro|Ubuntu|Roboto' rel='stylesheet' type='text/css'>
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">
	<script src="{% static 'js/jquery-1.12.2.js' %}"></script>
	<script src="{% static 'js/bootstrap.js' %}"></script>
	<style type="text/css">
		html,
		body {
		  height:100%
		}
	</style>
</head>

<body class="body" style="background-color:#f6f6f6">
	<div class="container-fluid" style="min-height:95%; ">
		<div class="row">
			  <div class="col-sm-4">
				  <br>
				  <h3 style="text-indent: 25px;">FlagPoll</h3>
			  </div>
			  <div class="col-sm-7">
			  		<br>
			  </div>
			  <div class="col-sm-1">
			  	<br><br>
			  	{% if user.is_authenticated %}
			  		<a href="/polls/logout/" class="btn btn-default btn-sm">
			  			<span class="glyphicon glyphicon-log-out"></span>&nbsp&nbspLogout
			  		</a>
			  	{% else %}
			  		<a href="/polls/login/" class="btn btn-default btn-sm">
			  			<span class="glyphicon glyphicon-log-in"></span>&nbsp&nbspLogin
			  		</a>
			  	{% endif %}
			  </div>
		</div><hr>

		<div class="row">
		  <div class="col-sm-2">
		   <!-- Great, til you resize. -->
			<!--<div class="well bs-sidebar affix" id="sidebar" style="background-color:#fff">-->
			<div class="well bs-sidebar col-sm-10" id="sidebar" style="background-color:#fff">
			  <ul class="nav nav-pills nav-stacked">
			  	<li style="margin-left: 10px;"><a href="/flags/" align="left" style="font-size:15px; display:inline"><span class="glyphicon glyphicon-flag"></span>&nbsp&nbsp&nbspFlags</a></li> 
				<li  style="margin-top: 14px; margin-left: 10px;"><a href="/polls/view/" align="left" style="font-size:15px; display:inline"><span class="glyphicon glyphicon-comment"></span>&nbsp&nbsp&nbspPolls</a></li>
				<li style="margin-top: 14px"><a href="/polls/create_poll/" align="left" style="font-size:15px; display:inline"><span class="glyphicon glyphicon-pencil"></span><div style="display:inline">&nbsp&nbsp&nbspWrite Poll</div></a></li> 
			  </ul>
			</div> <!--well bs-sidebar affix-->
		  </div> <!--col-sm-2-->
		  <div class="col-sm-8">
		  	<div class='container-fluid'>
				   {% block content %}
				   {% endblock %}
			</div>	
		</div>
	   </div>
	</div>
</body>

</html>